table{ width:100%;
text-align:center;
border-spacing:0;
border-collapse:collapse;
color:yellow;
}
tr, td {border: double; border-color:red;}

caption{font-size:30px;color:yellow; }

input{text-align:center;}
body {
    background-image: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1001120_10151986370114121_38890402_n.jpg?oh=19b4c70603f225eda24e9bb4e5272aeb&oe=55788905&__gda__=1434064259_9cea760ac7f603a6fa72a585517d6b24");
 background-size:100%;  }
 
 .change{color:yellow;}

