.meat{
  color: red;
  text-decoration: line-through;
  }
.fruit{
  color: green;
  text-decoration: line-through;
  }
.candy{
  color: purple;
  text-decoration: line-through;
  }
.bakery{
  color:blue;
  text-decoration: line-through;
  }
.li{
  width:10px;
  list-style-type: none;
}  

