
.border {border-style: solid;
    border-width: 5 px; }
.change {color:990033;}
.table {width: 100%;}
.x { border: 5px solid green;}
.font { color: red; font-style: oblique;} 
 .border2 {border-style: dashed; border-color:silver;
    border-width: 5 px; }
    .border3 {border-style: solid; background-color:rgb(128,128,128);
    border-width: 5 px; }
    .fontchange{font-size:40px;}
 

